*{
    margin: 0;
}

/* Logo Side CSS */
.container{
    display: grid;
    grid-template-columns: 40vw 60vw;
    grid-template-rows: 100vh;
}

.logo{
    height: 100vh;
    background: 100% / 100% url(images/maximalfocus.jpeg);

}

.lgFix{
    display: flex;
    color: white;
    font-size: 10vw;

    justify-content: center;
    align-items: center;
    background-color: rgba(0,0, 0, .9);
    
    position: relative;
    top: 20%;
}

.lgFix > img{
    width: 10vw;
}


/* Form Side CSS */
.formside{
    background-color: rgb(198, 197, 197);
}


