*{
    margin: 0;
}


.container{
    display: grid;
    grid-template-columns: 40vw 60vw;
    grid-template-rows: 100vh;
}

.logo{
    height: 100vh;
    background:100% / 100% url(images/maximalfocus.jpeg);

}

.lgFix{
    display: flex;
    font-size: 100px;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0, 0, .9);
    position: relative;
    top: 20%;
}

.lgFix > img{
    width: 20%;
}

.formside{
    background-color: rgb(198, 197, 197);
}


