*{
    margin: 0;
    color: #F6F9FE;
    font-family: monospace;
}

/* Logo Side CSS */
.container{
    display: grid;
    grid-template-columns: 40vw 60vw;
    grid-template-rows: 100vh;
}

.logo{
    height: 100vh;
    background: 100% / 100% url(images/maximalfocus.jpeg);

}

.lgFix{
    display: flex;
    color: white;
    font-size: 10vw;

    justify-content: center;
    align-items: center;
    background-color: rgba(0,0, 0, .9);
    
    position: relative;
    top: 20%;
    right: .2vw;
}

.lgFix > img{
    width: 10vw;
}


/* Form Side CSS */
.formside{
    background-color: black;
    font-family: sans-serif;
}

fieldset{
    border: none;
    padding: 1vh 0vw 3vh 3vw;
    max-width: 55vw;
    border-radius: .9vw;
}

fieldset:hover{
    box-shadow: 0 14px 28px  rgba(64, 87, 129,.25), 0 10px 10px rgba(64, 87, 129,.22);

}

.word{
    max-width: 50vw;
    font-size: 1.5vw;
    padding: 3vh 3vw;

}

.top{
    position: relative;
    bottom: 4vh;
}

label,
input,
button
{
  font-size: 1.5vw;
  display: block;
  border-radius: .3vw;
  border: none;


}

input{
    color: black;
    font-family:  Arial, sans-serif;
    padding: .5vh .5vw;
    outline: none;
    font-size: 1.3em;

}

input:focus{
    border: 2px solid rgb(38, 209, 246);
    box-shadow: 0 14px 28px  rgba(38, 209, 246,.25), 0 10px 10px rgba(38, 209, 246,.22);
}

button{
    background-color: #26D1F6;
    padding: 2vh 3.5vh;
    margin: 3vw;
    border: none;
    color: black;
    font-weight: bold;


}
button:hover{
    box-shadow:0 0 0px .1vw #F92B77;
    background-color: #F92B77;
    color: #F6F9FE;

}
button:focus{
    box-shadow:0 0 0px .2vw #F92B77;

}

.left{
    float: left;

}

.right{
    margin-left: 6vw;

}

.clear{
    clear:both;
}

h1{
    padding-bottom: 2vh;
}

a{
    color: #26D1F6;
    font-weight: bolder;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover{
    color: #F92B77;
    
}

.old_user{
    padding: 0vh 3vw;
    position: relative;
    bottom: 2.5vh;
    

}